.artistPageContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.artistInfo {
  display: flex;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
  }
}

.artistImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;  

  @media (max-width: 768px) {
    width: 160px;
    height: 160px;
    margin-bottom: 12px;
    margin-right: 0px;
  }
}

.artistMeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  .artistName {
    font-size: var(--s-title);
    color: $color;
  }

  .artistFollowers {
    font-size: var(--f-l);
    color: $g;
  }

  .artistGenres {
    font-size: var(--f-m);
    color: $g;
  }
}

.topTracks, .albums, .relatedArtists {
  margin-top: 40px;

  h2 {
    font-size: var(--f-xl);
    color: $color;
    margin-bottom: 20px;
  }
}

// .topTracksList {

// }

.albumGrid, .relatedArtistsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.albumItem, .relatedArtistItem {
  text-align: center;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .name {
    font-size: var(--f-m);
    color: $color;
    margin-bottom: 5px;
  }

  .info {
    font-size: var(--f-s);
    color: $g;
  }
}