// fonts
@font-face {
	font-family: 'NanumGothic';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Black'), url('/public/font/nanumGothic/NanumGothicLight.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumGothic';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Black'), url('/public/font/nanumGothic/NanumGothic.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumGothic';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Black'), url('/public/font/nanumGothic/NanumGothicBold.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumGothic';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard Black'), url('/public/font/nanumGothic/NanumGothicExtraBold.ttf') format('truetype');
}

// 프리텐다드
@font-face {
	font-family: 'Paperlogy';
	font-weight: 900;
	font-display: swap;
	src: local('Paperlogy Black'), url('/font/paperlogy/Paperlogy-Black.ttf') format('truetype')
}

@font-face {
	font-family: 'Paperlogy';
	font-weight: 800;
	font-display: swap;
	src: local('Paperlogy ExtraBold'), url('/font/paperlogy/Paperlogy-ExtraBold.ttf') format('truetype')
}

@font-face {
	font-family: 'Paperlogy';
	font-weight: 700;
	font-display: swap;
	src: local('Paperlogy Bold'), url('/font/paperlogy/Paperlogy-Bold.ttf') format('truetype')
}

@font-face {
	font-family: 'Paperlogy';
	font-weight: 600;
	font-display: swap;
	src: local('Paperlogy SemiBold'), url('/font/paperlogy/Paperlogy-SemiBold.ttf') format('truetype')
}

@font-face {
	font-family: 'Paperlogy';
	font-weight: 500;
	font-display: swap;
	src: local('Paperlogy Medium'), url('/font/paperlogy/Paperlogy-Medium.ttf') format('truetype')
}

@font-face {
	font-family: 'Paperlogy';
	font-weight: 400;
	font-display: swap;
	src: local('Paperlogy Regular'), url('/font/paperlogy/Paperlogy-Regular.ttf') format('truetype')
}

@font-face {
	font-family: 'Paperlogy';
	font-weight: 300;
	font-display: swap;
	src: local('Paperlogy Light'), url('/font/paperlogy/Paperlogy-Light.ttf') format('truetype')
}

@font-face {
	font-family: 'Paperlogy';
	font-weight: 200;
	font-display: swap;
	src: local('Paperlogy ExtraLight'), url('/font/paperlogy/Paperlogy-ExtraLight.ttf') format('truetype')
}

@font-face {
	font-family: 'Paperlogy';
	font-weight: 100;
	font-display: swap;
	src: local('Paperlogy Thin'), url('/font/paperlogy/Paperlogy-Thin.ttf') format('truetype')
}
//  루트
:root{
    // 사이즈
    --wrap-padding: 0 20px;

    // 폰트사이즈
    --f-s: 12px;
    --f-m: 14px;
    --f-l: 16px;
    --f-m-title: 25px;
    --f-l-title: 25px;
    --f-s-title: 16px;
		--s-title: 24px
}

body{
	font-family: 'Paperlogy', sans-serif; 
}
// 공통 css
.flex-space{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-h-center{
    align-items: center;
}

// 인풋
.input-box{
	display: flex;
	border: 1px solid #7b7b7b;
	border-radius: 4px;
	overflow: hidden;

}

input{
	font-family: 'Paperlogy', sans-serif; 
	font-size: 12px;
	border: none;
	border-radius: 4px;
	outline: none;
	padding: 0 12px;
	flex: 1;
	color: $color;
	font-weight: 400;
}

.pc-view{
	display: block;
	@include responsive(1024px){
		display: none;
	}
}
.m-view{
	display: none;
	@include responsive(1024px){
		display: block;
	}
}