.main{
    &-header{
		display: flex;
		// justify-content: space-between;
		height: $headerH;
        min-height: $headerH;
		align-items: center;
		background-color: #EAEAEA;
        // box-shadow: $boxShadow;
		&-inner{
			flex: 1;
			display: flex;
			justify-content: space-between;
			padding:  0 80px ;
            align-items: center;
		}
	}
    &-body{
        height: 100dvh;
        display: flex;
        width: 100%;
    }
    &-content{       
        width: calc(100% - #{$sidebarW});
        
        flex: 1;
        display: flex;
        flex-direction: column;
        // border: 1px solid;

        &-inner{
            background-color: #fff;
            // height: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 120px;
            flex: 1;
            border-radius: 8px 8px 0 0;
            // margin: 10px 10px 0;
            padding-top: 70px;
            padding-left: 80px;
            padding-bottom: 40px;
            // width: 100%;
        }
    }
    &-search{
        max-width: 36%;
        width: 100%;
        border-radius: 24px;
        height: 48px;
        &:hover{
            background-color: rgba($color: #fff, $alpha: 0.3);
            img{
                filter: brightness(0.6);
            }
        }
        &:focus-within{
            background-color: rgba($color: #fff, $alpha: 0.3);
            img{
                filter: brightness(0.6);
            }
        }
        .input-box{
            border-radius: 24px;
            height: 48px;
        }
        input{
            padding: 0 30px;
            background-color: transparent;
   
        }
        .icon-btn{
            width: 48px !important;
        }
        img{
            max-width: 18px;
        }
    }
    &-my-info{
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        height: 48px;
        cursor: pointer;
        // font-size: var(--f-s);
        padding: 0 12px;
        border-radius: $borderR;
        &:hover{
            background-color: $wop;
        }
        &-profile{
            width: 36px;
            height: 36px;
            // padding: 0 6px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #E4E8EE;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .default{
                width: auto;
                height: auto;
            }
        }
        &-id{
            font-size: 16px;
            color: #7a7a7a;
        }
    }

}