.main{
    &-body{
        width: 100%;
        height: calc(100dvh - 68px);
        display: flex;
        flex: 1;
    }
    &-content{       
        width: 100%;
        min-height: 100%;
        // border: 1px solid;
        padding: 20px 20px 0;

        &-inner{
            background-color: $LightBackColor;
            height: 100%;
            border-radius: 20px 20px 0 0;
            padding: 30px 50px;
        }
    }
    &-search{
        max-width: 360px;
        width: 100%;
        input{
            height: 34px;
        }
    }
    &-my-info{
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 14px;

        &-profile{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #E4E8EE;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}