*{margin:0;padding:0;box-sizing: border-box;}
li,ol,ul{list-style: none;}
html, body {line-height: 1;}
img, picture, video, canvas, svg {display: block;max-width:100%;object-fit: cover;max-height: 100%;
}
button {background:none;border:0;cursor:pointer; display: flex; align-items: center; justify-content: center; transition: .2s ease; color: #000;}
a{text-decoration:none; cursor: pointer; color: #000; }
table {border-collapse:collapse;border-spacing:0}
*:after,*::before{display: flex; }