@keyframes aniUp {
  0% {
    top: 65%;
  }
  50% {
    top: 40%;
  }
  75% {
    top: 60%;
  }
  100% {
    top: 50%;
  }
}
.play-track{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E4003A;
  align-items: center;
  justify-content: center;
  display: none;
  animation: aniUp 0.32s ease-in;
}