//박스 로우 뮤직
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTitleBox {
  display: flex;
  align-items: center;
}

.sectionTitle {
  font-size: var(--s-title);
  font-weight: 700;
  color: $color;
}

.swiperList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 200px;
  padding: 15px 10px;
  background-color: rgba(141, 141, 141, 0.1);
  border-radius: 4px;
  .albumImage {
    width: 180px;
    height: 180px;
    background-color: #d9d9d9;
    border: 1px solid $color;
    margin-bottom: 4px;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.musicInfoBox{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.musicInfoTitle {
  color: $color;
  font-weight: 600;
  min-height: 22px;
  line-height: 1.3;
  word-break: break-all;
  font-size: var(--m-title);
  @include ellipsis(2);
}

.musicInfoText {
  color: $color;
  font-weight: 500;
  width: 100%;
  font-size: var(--f-s);
  line-height: 1.3;
  word-break: break-all;
  @include ellipsis(2);
}

.albumInfoText {
  color: #9e9e9e;
  width: 100%;
  font-size: 10px;
  line-height: 1.3;
  word-break: break-all;
  @include ellipsis(1);
}


.noDataMessage {
  font-size: 18px;
  color: $color;
  text-align: center;
  margin-top: 20px;
}