//플레이리스트

.playlistContainer {
  position: fixed;
  right: 0;
  top: $headerH;
  height: calc(100dvh - $playerBarH - $headerH);
  bottom: 0;
  width: 320px; 
  z-index: 10;
  padding-top: 20px;
  background-color: $medium-gray; 
  transition: transform 0.2s ease-in-out;
  transform: translateX(100%);
  border-left: 1px solid $light-gray;

  &.open {
    transform: translateX(0);
  }
  
  .playlistTitle{
    font-size: 18px;
    font-weight: 500;
    color: $color;
    padding: 0 14px;
    display: block;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.playlist{
  display: flex;
  flex-direction: column;
  gap: 8px !important;
  overflow-y: auto;
}

.loading, .error {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.error {
  color: #ff4136;
}

.trackRow{
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 0 12px;
  cursor: pointer;
  &:hover{
    background-color: rgba($color: #E4003A, $alpha: 0.1); 
  }
}
.activeTrack {
  background-color: rgba($color: #E4003A, $alpha: 0.3); 
  font-weight: bold;
}

.albumImg{
  width: 36px;
  height: 36px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
}
.playlistTrackInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 6px;
  overflow: hidden;
  span{
    @include ellipsis(1);
    width: 100%;
    color: $color;
    font-size: var(--f-s);
    &:last-child{
      color: #9e9e9e;
      font-size: 10px;
    }
  }
}

.duration{
  font-size: 13px;
  color: $g !important;
}


.closeButton{
  padding: 4px;
  border-radius: 4px;
  &:hover{
    background-color: rgba($color: #E4003A, $alpha: 0.3); 

  }
}

.loadingRow{
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  color: $color;
  font-size: 13px;
}