//플레이리스트

.playlistContainer {
  position: fixed;
  right: 0;
  top: $headerH;
  height: calc(100dvh - $playerBarH - $headerH);
  bottom: 0;
  width: 320px; 
  z-index: 10;
  padding-top: 20px;
  background-color: $medium-gray; 
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }
  
  .playlistTitle{
    font-size: 18px;
    font-weight: 500;
    color: $color;
    padding-left: 14px;
    display: block;
    margin-bottom: 15px;
  }
}

.playlist{
  display: flex;
  flex-direction: column;
  gap: 10px !important;
  overflow-y: auto;
}

.loading, .error {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.error {
  color: #ff4136;
}

.trackRow{
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 0 12px;
}
.activeTrack {
  background-color: rgba(29, 185, 84, 0.1);  // Spotify 녹색의 연한 버전
  font-weight: bold;
  // border-left: 4px solid red;  // Spotify 녹색
}

.playlistTrackInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 8px;
  overflow: hidden;
  span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    color: $color;
    font-size: 13px;
  }
}

.duration{
  font-size: 13px;
  color: $g !important;
}


