//박스 로우 뮤직
.musicListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.musicListUl {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  max-width: 1800px;
  width: 100%;
}

.musicListLi {
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  &:hover{
    :global(.play-track) {
      display: flex;
    }
  };
  @include responsive(768px) {
    height: 42px;
    gap: 8px;
  }
}

.smallAlbumImage {
  width: 38px;
  height: 38px;
  background-color: #D9D9D9;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  @include responsive(768px) {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
  }
}
.rowMusicTextBox{
  display: flex;
  gap: 15px;
  flex: 1;
  min-width: 0;
  @include responsive(768px){
   flex-direction: column;
   gap: 3px;
  }
}
.rowMusicInfoTitle {
  font-size: var(--f-m);
  font-weight: 600;
  width: 100%;
  color: $color;
  @include ellipsis(2);
  @include responsive(768px) {
    @include ellipsis(1);
  }
}

.rowMusicInfoNumber{
  width: 30px;
  font-size: var(--f-m);
  color: $g;
  position: relative;
  text-align: center;
  @include responsive(768px){
    width: 18px;
    min-width: 18px;
  }
}

.rowMusicInfoText {
  width: 100%;
  font-size: var(--f-m);
  color: $color;
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 22%;
  @include ellipsis(1);
  &.grey {
    color: $g;
  }
  &.center {
    justify-content: center;
  }
  @include responsive(768px) {
   max-width: 100%;
    color: $g;
  }
}
.rowMusicInfoTextAlbum{
  width: 100%;
  font-size: var(--f-m);
  color: $color;
  @include ellipsis(1);
  max-width: 22%;
  color: $g;
  @include responsive(1200px){
    display: none;
  }
}
.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  cursor: pointer;
  @include responsive(768px){
    width: 30px;
    min-width: 30px;
  }
}



.duration{
  width: 60px;
  @include responsive(768px){
    display: none;
  }
}