//박스 로우 뮤직
.musicListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.musicListUl {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  max-width: 1800px;
}

.musicListLi {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #767676;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  &:hover{
    :global(.play-track) {
      display: flex;
    }
  };
}

.smallAlbumImage {
  width: 38px;
  height: 38px;
  background-color: #D9D9D9;
  // border-radius: 4px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.rowMusicInfoTitle {
  font-size: var(--f-m);
  font-weight: 600;
  flex: 1;
  color: $color;
  @include ellipsis(2);
}

.rowMusicInfoText {
  width: 100%;
  font-size: var(--f-m);
  color: $color;
  @include ellipsis(1);

  &.grey {
    color: $g;
  }
  &.center {
    text-align: center;
  }
}
.rowMusicInfoTextAlbum{
  width: 100%;
  font-size: var(--f-m);
  color: $color;
  @include ellipsis(1);
  color: $g;
  @include responsive(1200px){
    display: none;
  }
}
.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  cursor: pointer;
}

